{% extends 'header.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container py-5">
        <div class="card">
            <div class="card-header text-center">
                <h2>Update Bentuk Penanganan Terhadap Laporan</h2>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" id="form_laporan_warga">
                    {% csrf_token %}                    
                    {{ update_penanganan_form | crispy }}                    
                    <a href="{% url 'warga:index' %}" type="button" class="btn btn-danger">
                        Batal
                    </a>
                    <button type="submit" class="btn btn-success"> Update Bentuk Penanganan </button>
                </form>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="card">
            <div class="card-header text-center">
                <h2>Update Status Laporan</h2>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" id="form_laporan_warga">
                    {% csrf_token %}
                    <h4>Status Laporan</h4>
                    {% if update_status_form.status_laporan.value == 'BELUM' %}
                        <div style="background-color: #f34d30;width: max-content;padding: 0px 13px;">
                            <p style="color:white">Belum Diproses</p>
                        </div>
                    {% endif %}
                    {% if update_status_form.status_laporan.value == 'SEDANG' %}
                        <div style="background-color: #fbff24;width: max-content;padding: 0px 13px;">
                            <p style="color:white">Sedang Diproses</p>
                        </div>
                    {% endif %}
                    {% if update_status_form.status_laporan.value == 'SUDAH' %}
                        <div style="background-color: #03a678;width: max-content;padding: 0px 13px;">
                            <p style="color:white">Telah Diproses</p>
                        </div>
                    {% endif %}
                    {{ update_status_form | crispy }}                    
                    <a href="{% url 'warga:index' %}" type="button" class="btn btn-danger">
                        Batal
                    </a>
                    <button type="submit" class="btn btn-success"> Update Status </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}