{% extends "header.html" %}
{% load static %}

{% block content %}
    <div class="container py-5">
        <div class="card">
            <div class="card-header text-center">
                <h2>Laporan Masyarakat</h2>
            </div>
            <div class="card-body">
                {% for message in messages %}
                    {% if message.extra_tags == 'laporan' %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
                <a href="{% url 'laporan:tambah' %}" class="btn btn-success">Tambah</a>
                <table class="mt-2 table">
                    <thead class="thead-light">
                        <tr>
                            <th shape="col">Tanggal Entri</th>
                            <th shape="col">ID</th>
                            <th shape="col">Nama PSU</th>
                            <!-- <th shape="col">Perumahan</th> -->
                            <th shape="col">Judul Laporan</th>
                            <th shape="col">Bukti Foto</th>
                            <!-- <th shape="col">Bukti Video</th> -->
                            <th shape="col">Opsi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for laporan in laporans %}
                            <tr>
                                <td>{{ laporan.tanggal_entri_laporan }}</td>
                                <td>{{ laporan.id }}</td>
                                <td>{{ laporan.nama_psu_laporan }}</td>
                                <td>{{ laporan.judul_laporan }}</td>
                                <td>
                                    <a href="{{ laporan.foto_laporan.url }}" class="btn btn-secondary" download>Unduh Bukti Foto</a>
                                </td>
                                <!-- <td>
                                    <a href="{{ laporan.video.url }}" class="btn btn-secondary" download>Unduh Bukti Video</a>                                    
                                </td> -->
                                <td>
                                    <a href="{% url 'laporan:tampil' id=laporan.id %}" type="button" class="btn btn-primary">Lihat</a>
                                    <a href="{% url 'laporan:ubah' id=laporan.id %}" type="button" class="btn btn-warning">Ubah</a>
                                    <a href="{% url 'laporan:hapus' id=laporan.id %}" type="button" class="btn btn-danger" 
                                        onclick="return confirm('Apakah Anda yakin untuk menghapus laporan {{ laporan.judul_laporan }}?')">
                                        Hapus
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% if laporans.has_other_pages %}
                <ul class="pagination">
                    {% if laporans.has_previous %}
                    <li class="page-item">
                        <a href="?page={{ laporans.previous_page_number }}" class="page-link"> &laquo;</a>
                    </li>

                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link"> &laquo; </span>
                    </li>
                    {% endif %}

                    {% for i in laporans.paginator.page_range %}
                        {% if laporans.number == i %}
                            <li class="page-item active">
                                <span class="page-link">
                                    {{ i }}
                                    <span class="sr-only">(current)</span>
                                </span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a href="?page={{ i }}" class="page-link"> {{ i }} </a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if laporans.has_next %}
                        <li class="page-item">
                            <a href="?page={{ laporans.next_page_number }}" class="page-link"> &raquo; </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link"> &raquo; </span>
                        </li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="py-5">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Sosialisasi Serah Terima PSU</h2>
                </div>
                <div class="card-body">
                    {% for message in messages %}
                        {% if message.extra_tags == 'admin_kelola' %}
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                        {% endif %}                        
                    {% endfor %}
                    <div class="mb-4">
                        {% if request.user.user_type == 1 %}
                            <a href="{% url 'admin_kelola:serah_terima_tambah' %}" class="btn btn-success d-inline">Tambah</a>
                        {% endif %}
                        {% comment %}
                        <form class="form-inline d-inline float-right" action="{% url 'admin_kelola:serah_terima_cari' %}" method="get">
                                <input name="psu" class="form-control" type="text" placeholder="Cari Dokumen">
                                <button type="submit" class="btn btn-primary">Cari</button>
                        </form>
                        {% endcomment %}
                    </div>
                    <table class="mt-2 table">
                        <thead class="thead-light">
                            <tr>
                                <th shape="col">ID</th>
                                <th shape="col">Admin</th>
                                <th shape="col">Video</th>
                                <th shape="col">Foto</th>
                                <th shape="col">Salinan Laporan</th>
                                <th shape="col">Opsi</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dokumen in dokumens %}
                                <tr>
                                    <td>
                                        {{ dokumen.id }}
                                    </td>
                                    <td>
                                        {{ dokumen.admin_kelola.user.username }}
                                    </td>
                                    <td>
                                        <a href="{{ dokumen.video.url }}" class="btn btn-secondary" download>Unduh Video</a>                                    
                                    </td>
                                    <td>
                                        <a href="{{ dokumen.foto.url }}" class="btn btn-secondary" download>Unduh Foto</a>
                                    </td>
                                    <td>
                                        <a href="{{ dokumen.salinan_laporan.url }}" class="btn btn-secondary" download>Unduh Salinan</a>                                    
                                    </td>
                                    <td>
                                        <a href="{% url 'admin_kelola:serah_terima_tampil' id=dokumen.id %}" type="button" class="btn btn-primary">Lihat</a>
                                        {% if request.user.user_type == 1 %}
                                            <a href="{% url 'admin_kelola:serah_terima_ubah' id=dokumen.id %}" type="button" class="btn btn-warning">Ubah</a>
                                            <a href="{% url 'admin_kelola:serah_terima_hapus' id=dokumen.id %}" type="button" class="btn btn-danger" 
                                                onclick="return confirm('Apakah Anda yakin untuk menghapus dokumen {{ dokumen.nama_psu }}?')">
                                                Hapus
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {% if dokumens.has_other_pages %}
                        <ul class="pagination">
                            {% if dokumens.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ dokumens.previous_page_number }}">&laquo;</a>
                                </li>
                            {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">&laquo;</span>
                            </li>
                            {% endif %}
                            {% for i in dokumens.paginator.page_range %}
                                {% if dokumens.number == i %}
                                    <li class="page-item active">
                                        <span class="page-link">{{ i }} 
                                            <span class="sr-only">(current)</span>
                                        </span>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if dokumens.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ dokumens.next_page_number }}">&raquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">&raquo;</span>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="py-5">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Perwakilan Penghuni</h2>
                </div>
                <div class="card-body">
                    {% for message in messages %}
                        {% if message.extra_tags == 'perwakilan_penghuni' %}
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                        {% endif %}                        
                    {% endfor %}
                    <div class="mb-4">
                        {% if request.user.user_type == 1 %}
                            <a href="{% url 'admin_kelola:perwakilan_penghuni_tambah' %}" class="btn btn-success d-inline">Tambah</a>
                        {% endif %}
                    </div>
                    <table class="mt-2 table">
                        <thead class="thead-light">
                            <tr>
                                <th shape="col">ID</th>
                                <th shape="col">Nama</th>
                                <th shape="col">Alamat Rumah</th>
                                <th shape="col">No KTP</th>
                                <th shape="col">Opsi</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for perwakilan_penghuni in perwakilan_penghunis %}
                                <tr>
                                    <td>
                                        {{ perwakilan_penghuni.user_id }}
                                    </td>
                                    <td>
                                        {{ perwakilan_penghuni.nama }}
                                    </td>
                                    <td>
                                        {{ perwakilan_penghuni.alamat_rumah }}
                                    </td>
                                    <td>
                                        {{ perwakilan_penghuni.no_ktp }}
                                    </td>
                                    <td>
                                        {% comment %}
                                        <a href="{% url 'admin_kelola:perwakilam_penghuni' id=perwakilan_penghuni.id %}" type="button" class="btn btn-primary">Lihat</a>
                                        {% if request.user.user_type == 1 %}
                                            <a href="{% url 'admin_kelola:serah_terima_ubah' id=perwakilan_penghuni.id %}" type="button" class="btn btn-warning">Ubah</a>
                                            <a href="{% url 'admin_kelola:serah_terima_hapus' id=perwakilan_penghuni.id %}" type="button" class="btn btn-danger" 
                                                onclick="return confirm('Apakah Anda yakin untuk menghapus perwakilan_penghuni {{ perwakilan_penghuni.nama_psu }}?')">
                                                Hapus
                                            </a>
                                        {% endif %}
                                        {% endcomment %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {% if perwakilan_penghunis.has_other_pages %}
                        <ul class="pagination">
                            {% if perwakilan_penghunis.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ perwakilan_penghunis.previous_page_number }}">&laquo;</a>
                                </li>
                            {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">&laquo;</span>
                            </li>
                            {% endif %}
                            {% for i in perwakilan_penghunis.paginator.page_range %}
                                {% if perwakilan_penghunis.number == i %}
                                    <li class="page-item active">
                                        <span class="page-link">{{ i }} 
                                            <span class="sr-only">(current)</span>
                                        </span>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if perwakilan_penghunis.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ perwakilan_penghunis.next_page_number }}">&raquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">&raquo;</span>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}