{% extends 'header.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container py-5">
        <div class="card">
            <div class="card-header text-center">
                <h2>Ubah Laporan {{ form.nama_psu.value }}</h2>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.nama_psu_laporan | as_crispy_field }}
                    {{ form.judul_laporan | as_crispy_field }}
                    {{ form.deskripsi_laporan | as_crispy_field }}
                                        
                    <div id="div_id_foto" class="form-group mb-4">
                        <label for="id_foto" class=" requiredField">
                            Foto<span class="asteriskField">*</span> 
                        </label> 
                        <div>
                            Saat ini: <br>
                            <div class="text-center">
                                <img style="max-width: 100%" src="{{ form.foto_laporan.value.url }}" alt="Foto {{ form.nama_psu_laporan.value }}">
                            </div>
                            Ubah: <br>
                            <input type="file" name="foto" accept="image/*" class="berkaslaporanclearablefileinput form-control-file" id="id_foto"> 
                        </div>
                    </div>
                    <hr class="my-3">
                    <a href="{{ request.META.HTTP.REFERER }}" type="button" class="btn btn-danger">Batal</a>
                    <button class="btn btn-success" type="submit">Simpan</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}