{% extends "header.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="card-header text-center">
            <h2>Ganti Profile</h2>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ account | crispy}}
                {{ admin_skpd_form | crispy }}
                <a href="{% url 'admin_skpd:display_profile' %}" type="button" class="btn btn-danger">
                    Batal
                </a>
                <button type="submit" class="btn btn-success"> Ganti Profile </button>
            </form>
        </div>
    </div>
{% endblock %}