{% extends 'header.html' %}
{% block content %}
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first header-box-text">
      <h4>Daftar</h4>
    </div>
    <!-- Login Form -->
    <form method="post" style="padding: 0px 22px;text-align: center">
      {% csrf_token %}
      {% if admin_skpd_form.errors %}
          {% for field in admin_skpd_form %}
              {% for error in field.errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endfor %}
          {% for error in admin_skpd_form.non_field_errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endif %}
      {% if account_form.errors %}
          {% for field in account_form %}
              {% for error in field.errors %}
                  <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endfor %}
          {% for error in account_form.non_field_errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endif %}
      {% for field in account_form %}
        <div class="form-group">
          <label for="">{{ field.label }}</label>
          {{ field }}
        </div>
      {% endfor %}
      {% for field in admin_skpd_form %}
        <div class="form-group">
          <label for="">{{ field.label }}</label>
          {{ field }}
        </div>
      {% endfor %}
      <input type="submit" class="fadeIn fourth" value="Buat Akun">
    </form>
    <div id="formFooter">
      <p>Sudah punya akun?</p>
      <a href="{% url 'admin_skpd:login' %}" class="fadeIn fourth login-button" style="color:white;margin-top:0px">Masuk</a>
    </div>
  </div>
</div>
{% endblock content %}