{% extends "header.html" %}
{% load static %}

{% block content %}
    <div class="container py-5">
        <div class="card">
            <div class="card-header text-center">
                <h2>Laporan Masyarakat</h2>
            </div>
            <div class="card-body">
                {% for message in messages %}
                    {% if message.extra_tags == 'laporan' %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
                {% if request.user.user_type == 4 %}
                    <a href="{% url 'warga:add_laporan' %}" class="btn btn-success d-inline">Tambah</a>
                {% endif %}
                <table class="mt-2 table">
                    <thead class="thead-light">
                        <tr>
                            <th shape="col">Tanggal Entri</th>
                            <th shape="col">Status Laporan</th>
                            <th shape="col">Nama PSU</th>
                            <th shape="col">Judul Laporan</th>
                            <th shape="col">Bukti Foto</th>
                            <!-- <th shape="col">Bukti Video</th> -->
                            <th shape="col">Opsi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for laporan in laporans %}
                            <tr>
                                <td>{{ laporan.tanggal_entri_laporan }}</td>
                                <td>
                                    {% if laporan.status_laporan == 'BELUM' %}
                                        <span style="background-color: #f34d30;width: max-content;padding: 10px;border-radius:4px;color:white">
                                            Belum Diproses
                                        </span>
                                    {% endif %}
                                    {% if laporan.status_laporan == 'SEDANG' %}
                                        <span style="background-color: #fbff24;width: max-content;padding: 10px;border-radius:4px;color:white">
                                            Sedang Diproses
                                        </span>
                                    {% endif %}
                                    {% if laporan.status_laporan == 'SUDAH' %}
                                        <span style="background-color: #03a678;width: max-content;padding: 10px;border-radius:4px;color:white">
                                            Telah Diproses
                                        </span>
                                    {% endif %}
                                </td>
                                <td>{{ laporan.nama_psu_laporan }}</td>
                                <td>{{ laporan.judul_laporan }}</td>
                                {% if laporan.foto_laporan %}
                                    <td>
                                        <a href="{{ laporan.foto_laporan.url }}" class="btn btn-secondary" target="_blank">Unduh Bukti Foto</a>
                                    </td>
                                {% else %}
                                    <td>
                                        <p>-</p>
                                    </td>
                                {% endif %}
                                <!-- <td>
                                    <a href="{{ laporan.video.url }}" class="btn btn-secondary" target="_blank">Unduh Bukti Video</a>                                    
                                </td> -->
                                <td>
                                    <a href="{% url 'warga:detail_laporan' id=laporan.id %}" type="button" class="btn btn-primary">Lihat Detail</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% if laporans.has_other_pages %}
                <ul class="pagination">
                    {% if laporans.has_previous %}
                    <li class="page-item">
                        <a href="?page={{ laporans.previous_page_number }}" class="page-link"> &laquo;</a>
                    </li>

                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link"> &laquo; </span>
                    </li>
                    {% endif %}

                    {% for i in laporans.paginator.page_range %}
                        {% if laporans.number == i %}
                            <li class="page-item active">
                                <span class="page-link">
                                    {{ i }}
                                    <span class="sr-only">(current)</span>
                                </span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a href="?page={{ i }}" class="page-link"> {{ i }} </a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if laporans.has_next %}
                        <li class="page-item">
                            <a href="?page={{ laporans.next_page_number }}" class="page-link"> &raquo; </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link"> &raquo; </span>
                        </li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}