{% extends "serah_terima/layout.html" %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-header text-center">
                <h2>Serah Terima PSU</h2>
            </div>
            <div class="card-body">
                <a href="{% url 'serah_terima:tambah' %}" class="btn btn-success">Tambah</a>
                <table class="mt-2 table">
                    <thead class="thead-light">
                        <tr>
                            <th shape="col">PSU</th>
                            <th shape="col">Perumahan</th>
                            <th shape="col">Video</th>
                            <th shape="col">Foto</th>
                            <th shape="col">Salinan Laporan</th>
                            <th shape="col">Opsi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dokumen in dokumens %}
                            <tr>
                                <td>{{ dokumen.nama_psu }}</td>
                                <td>{{ dokumen.perumahan }}</td>
                                <td>
                                    <a href="{{ dokumen.video.url }}" class="btn btn-secondary" target="_blank">Unduh Video</a>                                    
                                </td>
                                <td>
                                    <a href="{{ dokumen.foto.url }}" class="btn btn-secondary" target="_blank">Unduh Foto</a>
                                </td>
                                <td>
                                    <a href="{{ dokumen.salinan_laporan.url }}" class="btn btn-secondary" target="_blank">Unduh Salinan</a>                                    
                                </td>
                                <td>
                                    <a href="{% url 'serah_terima:tampil' id=dokumen.id %}" type="button" class="btn btn-primary">Lihat</a>
                                    <a href="{% url 'serah_terima:ubah' id=dokumen.id %}" type="button" class="btn btn-warning">Ubah</a>
                                    <a href="{% url 'serah_terima:hapus' id=dokumen.id %}" type="button" class="btn btn-danger">Hapus</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
