<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Serah Terima PSU</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Serah Terima PSU</h2>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-success">Tambah</button>
                    <table class="mt-2 table">
                        <thead class="thead-light">
                            <tr>
                                <th shape="col">No.</th>
                                <th shape="col">PSU</th>
                                <th shape="col">Opsi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>PSU 1</td>
                                <td>
                                    <div>
                                        <button type="button" class="btn btn-primary">Lihat</button>
                                        <button type="button" class="btn btn-warning">Ubah</button>
                                        <button type="button" class="btn btn-danger">Hapus</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>PSU 1</td>
                                <td>
                                    <div>
                                        <button type="button" class="btn btn-primary">Lihat</button>
                                        <button type="button" class="btn btn-warning">Ubah</button>
                                        <button type="button" class="btn btn-danger">Hapus</button>
                                    </div>
                                </td>
                            </tr>
                          </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>  
</html>