{% extends 'header.html' %}
{% load static %}

<!-- Masthead -->
{% block content %}
    <div class="container py-5">
        <div class="card">
            <div class="card-header text-center">
                <h2>Dokumen Serah Terima {{ dokumen.nama_psu }}</h2>
            </div>
            <div class="card-body">
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                <h4>Video</h4>
                <div class="text-center">
                    <video width="100%" controls>
                        <source src="{{ dokumen.video.url }}" type="video/mp4">
                    </video>
                </div>
                <hr class="my-4">
                <h4>Foto</h4>
                <div class="text-center">
                    <img style="max-width: 100%" src="{{ dokumen.foto.url }}" alt="Foto {{ dokumen.nama_psu }}">
                </div>
                <hr class="my-4">
                <h4>Salinan Laporan</h4>
                <a href="{{ dokumen.salinan_laporan.url }}" class="btn btn-primary" target="_blank">Unduh Salinan Laporan</a>
                <hr class="my-3">
                <a href="{% url 'serah_terima:index' %}" type="button" class="btn btn-success">Kembali</a>
                <a href="{% url 'serah_terima:ubah' id=dokumen.id %}" type="button" class="btn btn-warning">Ubah</a>
            </div>
        </div>
    </div>
{% endblock %}