<nav class="navbar navbar-light" style="background-color: #03a678;">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="http://4.bp.blogspot.com/-FtOrR7FqtEg/Tdufk5MUD9I/AAAAAAAADrE/1FMbaYHMrR8/s320/Kabupaten_Sidoarjo.png" class="m-2" alt="logo_sidoarjo" width="75" height="75">
    </a>
    <span class="text-white" style="font-size: x-large;">E-PSU PERUMAHAN KABUPATEN SIDOARJO</span> 
</nav>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #025b42;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-white" href="/">Beranda <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pelaporan
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Ajukan Laporan</a>
                    <a class="dropdown-item" href="#">Cek Status</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pemantauan
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pengelolaan
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Sosialisasi Serah Terima</a>
                    <a class="dropdown-item" href="#">Laporan Masyarakat</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <!-- Belum Login -->
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a id="navbarDropdown" class="nav-link text-white dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                        {{user.username}} <span class="caret"></span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        {% if user.user_type == 1 %}
                            <a class="dropdown-item" href="#">Ganti profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'admin_kelola:logout' %}">Logout</a>
                        {% endif %}
                        {% if user.user_type == 3 %}
                            <a class="dropdown-item" href="{% url 'admin_skpd:display_profile' %}">Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'admin_skpd:logout' %}">Logout</a>
                        {% endif %}
                        {% if user.user_type == 4 %}
                            <a class="dropdown-item" href="{% url 'warga:display_profile' %}">Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'warga:logout' %}">Logout</a>
                        {% endif %}
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'warga:login' %}">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'warga:register' %}">Register</a>
                </li>
            {% endif %}

            <!-- Sudah Login -->            
        </ul>
    </div>
</nav>